$bgColorGreen: #CED3CA;
$greyColor: #B3B3B3;


$fontFamRoboto: 'Roboto', sans-serif;



$fontsize14: 14px;
$fontsize15: 15px;
$fontsize16: 16px;
$fontsize17: 17px;
$fontsize18: 18px;
$fontsize30: 30px;
$fontsize34: 34px;
$fontsize35: 35px;
$fontsize38: 38px;